body {
    width: 100%;
    padding: 0;
        margin: 0;
        font-family: 'poppins';
    display: flex;
    flex-direction: column;
    background-color: #003049;
    }

header {
    max-width: 800px;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: lightgrey;
}

header form {
    width: 100%;
    display: flex;
        justify-content: space-between;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#task-list-input {
    background-color: #669BBC;
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.255rem;
    font-weight: 300;
    opacity: 80%;
        /* opacity: 80%; */
}

#task-list-input::placeholder {
    color: white;
    font-size: 1.255rem;
    font-weight: 300;
    opacity: 60%;
}

#new-task-submit {
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #669BBC;
}

main {
    max-width: 800px;
    width: 100%;
    padding: 1rem 2rem;
        margin: 0 auto;
}

main h2 {
    font-size: 2rem;
    font-weight: 300;
    color: lightgrey;
    opacity: 60%;
}

#task-list {
    width: 100%;
    display: flex;
        flex-direction: column;
        gap: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0%;
        background-color: #001B29;
        padding: 1rem 1rem;
        border-radius: 1rem;
    }
    
    #task-list .task .content .task-text {
    color: white;
    font-size: 1.25rem;
}
.action button {
    color: #669BBC;
    font-size: 1.255rem;
    font-weight: 600;
    

}

.editmode {
    color: #c9184a;
    font-size: 1.25rem;
}
